Task1_0528. 연산메소드 이용 및 NaN 값을 0으로 대체 후 사칙연산을 수행한 후 결과를 출력하세요.

In [2]:
import pandas as pd
import numpy as np

a=pd.Series({'국어':88,'영어':45,'수학':100,'과학':79, '미술':91})
b=pd.Series({'국어':70,'영어':100,'수학':89,'과학':92, '음악':100})

add1=a.add(b,fill_value=0)
sub1=a.sub(b,fill_value=0)
mul1=a.mul(b,fill_value=0)
div1=a.div(b,fill_value=0)

df=pd.DataFrame([add1,sub1,mul1,div1],index=['더하기','빼기','곱하기','나누기'])

print(df)

              과학           국어    미술           수학       영어     음악
더하기   171.000000   158.000000  91.0   189.000000   145.00  100.0
빼기    -13.000000    18.000000  91.0    11.000000   -55.00 -100.0
곱하기  7268.000000  6160.000000   0.0  8900.000000  4500.00    0.0
나누기     0.858696     1.257143   inf     1.123596     0.45    0.0

In [5]:
# 강사님 풀이:
df1=pd.DataFrame(np.arange(12.).reshape((3,4)),columns=list('abcd'))
print(df1,'\n')

df2=pd.DataFrame(np.arange(20.).reshape((4,5)),columns=list('abcde'))
print(df2)

add_data=df1.add(df2,fill_value=0)
sub_data=df1.sub(df2,fill_value=0)
mul_data=df1.mul(df2,fill_value=0)
div_data=df1.div(df2,fill_value=0)

print(add_data,'\n')
print(sub_data,'\n')
print(mul_data,'\n')
print(div_data,'\n')

     a    b     c     d
0  0.0  1.0   2.0   3.0
1  4.0  5.0   6.0   7.0
2  8.0  9.0  10.0  11.0

      a     b     c     d     e
0   0.0   1.0   2.0   3.0   4.0
1   5.0   6.0   7.0   8.0   9.0
2  10.0  11.0  12.0  13.0  14.0
3  15.0  16.0  17.0  18.0  19.0
      a     b     c     d     e
0   0.0   2.0   4.0   6.0   4.0
1   9.0  11.0  13.0  15.0   9.0
2  18.0  20.0  22.0  24.0  14.0
3  15.0  16.0  17.0  18.0  19.0

      a     b     c     d     e
0   0.0   0.0   0.0   0.0  -4.0
1  -1.0  -1.0  -1.0  -1.0  -9.0
2  -2.0  -2.0  -2.0  -2.0 -14.0
3 -15.0 -16.0 -17.0 -18.0 -19.0

      a     b      c      d    e
0   0.0   1.0    4.0    9.0  0.0
1  20.0  30.0   42.0   56.0  0.0
2  80.0  99.0  120.0  143.0  0.0
3   0.0   0.0    0.0    0.0  0.0

     a         b         c         d    e
0  NaN  1.000000  1.000000  1.000000  0.0
1  0.8  0.833333  0.857143  0.875000  0.0
2  0.8  0.818182  0.833333  0.846154  0.0
3  0.0  0.000000  0.000000  0.000000  0.0

Task2_0528. 주어진 DataFrame의 N열에서 Series s값을 빼고 결과를 새로운 열 O에 저장 후 출력하세요.

In [6]:
import pandas as pd

# 데이터프레임 생성
df = pd.DataFrame({
    "M": [15, 25, 35, 45, 55],
    "N": [100, 200, 300, 400, 500]
})
print(df,'\n')
# Series 생성
s = pd.Series([5, 10, 15, 20, 25])

    M    N
0  15  100
1  25  200
2  35  300
3  45  400
4  55  500

In [ ]:
print("Original DataFrame : \n",df)

# df의 N열에서 Series s값을 빼기
O=df['N']- s
print("\ndf['N']-s : \n",O)

# 위 계산의 결과를 새로운 열 O에 저장, 출력
df['O']=O
print("\nNew DataFrame with column O added : \n",df)

Original DataFrame :
     M    N
0  15  100
1  25  200
2  35  300
3  45  400
4  55  500

df['N']-s :
 0     95
1    190
2    285
3    380
4    475
dtype: int64

New DataFrame with column O added :
     M    N    O
0  15  100   95
1  25  200  190
2  35  300  285
3  45  400  380
4  55  500  475

In [7]:
# 강사님 풀이:
df['O']=df['N']-s
print(df)

    M    N    O
0  15  100   95
1  25  200  190
2  35  300  285
3  45  400  380
4  55  500  475

Task3_0528. 주어진 DataFrame의 여러 열에 대해 각기 다른 Series를 더하고, 결과를 새로운 DataFrame으로 반환한 후 각 행의 합계를 계산하여 새로운 열에 추가하여 출력하세요.

In [8]:
import pandas as pd

# 데이터프레임 생성
df = pd.DataFrame({
    "A": [1, 2, 3, 4, 5],
    "B": [10, 20, 30, 40, 50],
    "C": [100, 200, 300, 400, 500]
})

# Series 생성
s1 = pd.Series([5, 5, 5, 5, 5])
s2 = pd.Series([10, 10, 10, 10, 10])
s3 = pd.Series([15, 15, 15, 15, 15])

In [ ]:
print("Original : \n",df)
# 기존 데이터프레임의 각 열에 각기 다른 Series 더하기
df_1=pd.Series(df['A']+s1)
df_2=pd.Series(df['B']+s2)
df_3=pd.Series(df['C']+s3)

# 더해서 구한 Series로 새 데이터프레임 만들기
new_df=pd.concat([df_1,df_2,df_3],axis=1)
print("\n새로 만든 데이터프레임 : \n", new_df)


# 새 데이터프레임에각 행의 합계를 계산해서 새로운 열 추가
new_df['합계']=new_df[0]+new_df[1]+new_df[2]
print("\n 합계 포함한 새 데이터프레임 : \n", new_df)

Original :
    A   B    C
0  1  10  100
1  2  20  200
2  3  30  300
3  4  40  400
4  5  50  500

새로 만든 데이터프레임 :
     0   1    2
0   6  20  115
1   7  30  215
2   8  40  315
3   9  50  415
4  10  60  515

 합계 포함한 새 데이터프레임 :
     0   1    2   합계
0   6  20  115  141
1   7  30  215  252
2   8  40  315  363
3   9  50  415  474
4  10  60  515  585

In [9]:
# 강사님 풀이:
# 여러 열에 series를 더하고 새로운 dataframe 생성
df_new=df.copy()
df_new['A']=df['A']+s1
df_new['B']=df['B']+s2
df_new['C']=df['C']+s3

# 각 행의 합계를 계산하여 새로운 열 'sum'에 추가
df_new['Sum']=df_new.sum(axis=1)

# 결과 출력
print(df_new)

    A   B    C  Sum
0   6  20  115  141
1   7  30  215  252
2   8  40  315  363
3   9  50  415  474
4  10  60  515  585

Task4_0528. df에서 세 열의 값을 더하여 새로운 컬럼을 생성한 후 출력하세요.

In [ ]:
import pandas as pd

# 데이터프레임 생성
df = pd.DataFrame({
    "A": [10, 20, 30, 40, 50],
    "B": [1, 2, 3, 4, 5],
    "C": [5, 10, 15, 20, 25],
    "D": [3, 6, 9, 12, 15],
    "E": [2, 4, 6, 8, 10]
})

In [ ]:
print("원본 : \n",df)
# 세 열의 값을 더하여 새로운 열 생성, 출력
df1=df.copy()

df1['A+B+E']=df1['A']+df1['B']+df1['E']
print("\n세 열의 값을 더한 행 추가 : \n",df1)

원본 :
     A  B   C   D   E
0  10  1   5   3   2
1  20  2  10   6   4
2  30  3  15   9   6
3  40  4  20  12   8
4  50  5  25  15  10

세 열의 값을 더한 행 추가 :
     A  B   C   D   E  A+B+E
0  10  1   5   3   2     13
1  20  2  10   6   4     26
2  30  3  15   9   6     39
3  40  4  20  12   8     52
4  50  5  25  15  10     65

Task5_0528. df에서 세 열의 값을 평균하여 새로운 컬럼을 생성 후 출력하세요.

In [ ]:
import pandas as pd

# 데이터프레임 생성
df = pd.DataFrame({
    "A": [100, 200, 300, 400, 500],
    "B": [10, 20, 30, 40, 50],
    "C": [1, 2, 3, 4, 5],
    "D": [7, 8, 9, 10, 11],
    "E": [3, 6, 9, 12, 15]
})

In [ ]:
print("원본 : \n",df)

df['mean(A,B,C)']=df[['A','B','C']].mean(axis=1)
print("\n평균 추가 : \n",df)

원본 :
    A  B  C   D   E
0  2  1  3   8  10
1  3  2  4   9  20
2  4  3  5  10  30
3  5  4  6  11  40
4  6  5  7  12  50

평균 추가 :
    A  B  C   D   E  mean(A,B,C)
0  2  1  3   8  10          2.0
1  3  2  4   9  20          3.0
2  4  3  5  10  30          4.0
3  5  4  6  11  40          5.0
4  6  5  7  12  50          6.0

Task6_0528. df에서 두 개의 열을 더한 값이 다른 한 개의 열보다 큰 경우에는 1, 작은 경우에는 0으로 값을 정하는 새로운 열을 생성한 후 출력하세요.

In [ ]:
import pandas as pd

# 데이터프레임 생성
df = pd.DataFrame({
    "A": [2, 3, 4, 5, 6],
    "B": [1, 2, 3, 4, 5],
    "C": [3, 4, 5, 6, 7],
    "D": [8, 9, 10, 11, 12],
    "E": [10, 20, 30, 40, 50]
})

In [ ]:
print(df)

   A  B  C   D   E
0  2  1  3   8  10
1  3  2  4   9  20
2  4  3  5  10  30
3  5  4  6  11  40
4  6  5  7  12  50