Task1_0527. 4개의 Series를 결합하여 데이터프레임을 생성하여 출력하세요.
- 출력한 데이터프레임에서 추출하고 싶은 5개의 데이터를 인덱싱하여 출력
- null값을 3개 추가
- null값의 개수를 확인하고 삭제
- 2개의 데이터를 수정
- 1개의 행을 삭제

In [ ]:
# 성적표 만들어볼까
# 과목은 국어, 수학, 과학, 영어
# 학생은 5명

import pandas as pd
import numpy as np

# Series 0: 학생 이름
name=['송신영','오승연','전진서','김낙평','김경환']
s_name=pd.Series(name)
# print(s_name)

# Series 1: 성적표
econ=[70,80,90,60,55]
s_econ=pd.Series(econ)
# print(s_econ)

# Series 2:
maths=[77,65,56,78,92]
s_maths=pd.Series(maths)

# Series 3:
negotiation=[51,44,67,88,71]
s_negotiation=pd.Series(negotiation)
# Series 4:
accounting=[68,71,66,75,58]
s_accounting=pd.Series(accounting)

# 여러 시리즈를 데이터프레임으로 합치기
df=pd.DataFrame({'name':s_name,'econ':s_econ,'maths':s_maths,'negotiation':s_negotiation,'accounting':s_accounting})
print(df)

  name  econ  maths  negotiation  accounting
0  송신영    70     77           51          68
1  오승연    80     65           44          71
2  전진서    90     56           67          66
3  김낙평    60     78           88          75
4  김경환    55     92           71          58

In [ ]:
# 강사님 풀이:
import numpy as np
import pandas as pd

# 데이터프레임 생성
id = np.arange(1, 1001)
i1 = pd.Series(id)
gender = np.random.randint(2, size=1000)
g1 = pd.Series(gender)
age = np.random.randint(1, 101, size=1000)
a1 = pd.Series(age)
region = np.random.randint(1, 11, size=1000)
r1 = pd.Series(region)
df = pd.concat([i1, g1, a1, r1], axis=1)
df.rename(columns={0: 'id', 1: 'gender', 2: 'age', 3: 'region'}, inplace=True)

In [ ]:
# 데이터프레임에서 추출하고 싶은 5개의 데이터를 인덱싱하여 출력
print(df.iloc[[0, 1, 2, 3, 4]])

In [ ]:
# null값을 3개 추가
df.loc[0, 'age'] = np.nan
df.loc[1, 'gender'] = np.nan
df.loc[2, 'region'] = np.nan

In [ ]:
# null값의 개수를 확인하고 삭제
null_counts = df.isnull().sum()
print( null_counts,'\n')
df.dropna(inplace=True)
print(df.head(7))

In [ ]:
# 2개의 데이터를 수정
df.loc[3, 'age'] = 50
df.loc[4, 'region'] = 5

In [ ]:
# 1개의 행을 삭제
df.drop(index=5, inplace=True)

In [ ]:
# 최종 데이터프레임 출력
print(df.head(7))

Task2_0527. 학생별 성적 데이터셋으로 의미있게 데이터 셋을 수정하세요.(아래 사항 반영)
- S1 ~ S10은 평균 점수를 기준으로 1등급에서 10등급이고 등급간 점수 차는 5점
- 결시자가 국어 3명, 수학 2명 있음
- 영어, 수학의 평균 점수가 국어 대비 5점 낮음

In [ ]:
import pandas as pd
import numpy as np
np.random.seed(0)
df = np.random.randint(1,5,size=(10,5))
df=pd.DataFrame(df,index=['s1','s2','s3','s4','s5','s6','s7','s8','s9','s10'],
               columns=['국어','영어','수학','과학','사회'])
df

In [ ]:
# 강사님 풀이:
# 등급간 점수 차는 5점
for i in range(10):
    df.iloc[i]=90-i*5
df

Task3_0527. df1에서 결측값 처리 후 딕셔너리, 리스트로 변환하여 출력하세요.

In [ ]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame({
    "Name": ["Alice", "Bob", "Charlie", "David", "Eve"],
    "Math": [85, np.nan, 88, 90, 76],
    "English": [92, 85, 89, np.nan, 80],
    "Science": [78, 90, 95, 85, 89],
    "History": [88, 92, 85, 91, np.nan]
})
df1

      Name  Math  English  Science  History
0    Alice  85.0     92.0       78     88.0
1      Bob   NaN     85.0       90     92.0
2  Charlie  88.0     89.0       95     85.0
3    David  90.0      NaN       85     91.0
4      Eve  76.0     80.0       89      NaN

In [ ]:
import pandas as pd
import numpy as np
print(df1)

# to 딕셔너리
df_dict=df1.to_dict()
print(df_dict)

# to list
df_list=ar.df1.tolist()
print(df_list)

      Name  Math  English  Science  History
0    Alice  85.0     92.0       78     88.0
1      Bob   NaN     85.0       90     92.0
2  Charlie  88.0     89.0       95     85.0
3    David  90.0      NaN       85     91.0
4      Eve  76.0     80.0       89      NaN
{'Name': {0: 'Alice', 1: 'Bob', 2: 'Charlie', 3: 'David', 4: 'Eve'}, 'Math': {0: 85.0, 1: nan, 2: 88.0, 3: 90.0, 4: 76.0}, 'English': {0: 92.0, 1: 85.0, 2: 89.0, 3: nan, 4: 80.0}, 'Science': {0: 78, 1: 90, 2: 95, 3: 85, 4: 89}, 'History': {0: 88.0, 1: 92.0, 2: 85.0, 3: 91.0, 4: nan}}

NameError: name 'ar' is not defined

In [ ]:
# 강사님 풀이
df1.info() # <== 데이터프레임의 정보 확인할 수 있음

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     5 non-null      object
 1   Math     4 non-null      float64
 2   English  4 non-null      float64
 3   Science  5 non-null      int64
 4   History  4 non-null      float64
dtypes: float64(3), int64(1), object(1)
memory usage: 328.0+ bytes

In [ ]:
df1.columns

Index(['Name', 'Math', 'English', 'Science', 'History'], dtype='object')

In [ ]:
# null값 처리는 여러 방식이 있음. 상황에 따라 불가피할 경우 null값 삭제할 수도 있고,
# 평균값으로 대체가 나을 경우 평균값으로 대체할 수도 있음

# 숫자 열에 대한 결측값을 각 열의 평균값으로 대체
df2=df1.copy()
columns=['Math','English', 'Science','History'] # <== name을 제외한 column 들에 적용하기 위해 따로 리스트 만들어주고
for column in columns: # <== for 문으로
    df2[column].fillna(df2[column].mean(),inplace=True) # <== null이 있는 곳에 각 column의 mean값 대체, 원본에 반영
df2

      Name   Math  English  Science  History
0    Alice  85.00     92.0       78     88.0
1      Bob  84.75     85.0       90     92.0
2  Charlie  88.00     89.0       95     85.0
3    David  90.00     86.5       85     91.0
4      Eve  76.00     80.0       89     89.0

In [ ]:
# df1 데이터프레임에서 숫자형 데이터 타입을 가진 열들만 선택
df2=df1.copy()
for column in df2.select_dtypes(include=[np.number]).columns:
    df1[column].fillna(df2[column].mean(), inplace=True)

# 결과 출력
df2

      Name  Math  English  Science  History
0    Alice  85.0     92.0       78     88.0
1      Bob   NaN     85.0       90     92.0
2  Charlie  88.0     89.0       95     85.0
3    David  90.0      NaN       85     91.0
4      Eve  76.0     80.0       89      NaN

In [ ]:
# 배열로 변환
array1=df2.to_numpy()
print(array1)

# 딕셔너리로 변환
dict1=df2.to_dict(orient='list')
print(dict1)

# 리스트로 변환
list1=df2.values.tolist()
print(list1)

[['Alice' 85.0 92.0 78 88.0]
 ['Bob' nan 85.0 90 92.0]
 ['Charlie' 88.0 89.0 95 85.0]
 ['David' 90.0 nan 85 91.0]
 ['Eve' 76.0 80.0 89 nan]]
{'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'], 'Math': [85.0, nan, 88.0, 90.0, 76.0], 'English': [92.0, 85.0, 89.0, nan, 80.0], 'Science': [78, 90, 95, 85, 89], 'History': [88.0, 92.0, 85.0, 91.0, nan]}
[['Alice', 85.0, 92.0, 78, 88.0], ['Bob', nan, 85.0, 90, 92.0], ['Charlie', 88.0, 89.0, 95, 85.0], ['David', 90.0, nan, 85, 91.0], ['Eve', 76.0, 80.0, 89, nan]]

Task4_0527. df2에서 아래와 같이 데이터 필터링 및 정렬 후 배열, 딕셔너리, 리스트로 변환하여 출력하세요.
- Math 점수가 80 이상인 학생만 선택
- English 점수를 기준으로 내림차순 정렬

In [ ]:
df2 = pd.DataFrame({
    "Name": ["Alice", "Bob", "Charlie", "David", "Eve"],
    "Math": [85, 79, 88, 90, 76],
    "English": [92, 85, 89, 93, 80],
    "Science": [78, 90, 95, 85, 89],
    "History": [88, 92, 85, 91, 84]
})
print(df2)

      Name  Math  English  Science  History
0    Alice    85       92       78       88
1      Bob    79       85       90       92
2  Charlie    88       89       95       85
3    David    90       93       85       91
4      Eve    76       80       89       84

In [ ]:
# 1. Math 점수가 80 이상인 학생만 선택
df2_sel=df2[df2['Math']>=80]
print(df2_sel)

# 2. English 점수를 기준으로 내림차순 정렬
print()
df2_sel_sorted=df2_sel.sort_values(by='English', ascending=False)
print(df2_sel_sorted)

# df2_sel.sort_values(by="English", ascending=False, inplace=True)
# print(df2_sel)

      Name  Math  English  Science  History
0    Alice    85       92       78       88
2  Charlie    88       89       95       85
3    David    90       93       85       91

      Name  Math  English  Science  History
3    David    90       93       85       91
0    Alice    85       92       78       88
2  Charlie    88       89       95       85

In [ ]:
# 강사님 풀이:
# 필터링: Math 점수가 80 이사인 학생만 선택
df2_filtered=df2[df2['Math']>=80]

# 정렬: English 점수를 기준으로 내림차순 정렬
df2_sorted=df2_filtered.sort_values(by='English',ascending=False)

# 결과 출력
print(df2_sorted)

In [ ]:
# 배열로 변환
array2=df2_sorted.to_numpy()
print(array2,'\n')

# 딕셔너리로 변환
dict2=df2_sorted.to_dict(orient='list')
print(dict2,'\n')

# 리스트로 변환
list2=df2_sorted.values.tolist()
print(list2)

Task5_0527. df3에서 각 학생의 평균 점수 계산 후 배열, 딕셔너리, 리스트로 변환하여 출력하세요.

In [ ]:
df3 = pd.DataFrame({
    "Name": ["Alice", "Bob", "Charlie", "David", "Eve", "Alice", "Bob", "Charlie", "David", "Eve"],
    "Subject": ["Math", "Math", "Math", "Math", "Math", "English", "English", "English", "English", "English"],
    "Score": [85, 79, 88, 90, 76, 92, 85, 89, 93, 80]
})
print(df3)

      Name  Subject  Score
0    Alice     Math     85
1      Bob     Math     79
2  Charlie     Math     88
3    David     Math     90
4      Eve     Math     76
5    Alice  English     92
6      Bob  English     85
7  Charlie  English     89
8    David  English     93
9      Eve  English     80

In [ ]:
# 강사님 풀이:
g=df3['Score'].groupby(df3['Name']).mean()
g

In [ ]:
# 강사님 풀이
df3.pivot_table(index='Name',columns='Subject',values='Score',aggfunc='mean')
# aggfunc= 집계하는 숫자는 mean으로 하라, 는 뜻

In [ ]:
df3_pivot=df3.pivot_table(index='Name',columns='Subject',values='Score',aggfunc='mean').reset_index()
# reset_index() 쓰면 좌측에 인덱스 열이 생김
# 다만, subject 열이름을 인덱스 열이 사용하게 되는 상태가 됨
df3_pivot.columns.name=None
# 따라서, columns.name=None 으로 불필요한 'subject' 삭제해줌
print(df3_pivot)

In [ ]:
# 배열로 변환
array3=df3_pivot.to_numpy()
print(array3, '\n')

# 딕셔너리로 변환
dict3=df3_pivot.to_dict(orient='list')
print(dict3, '\n')

# 리스트로 변환
list3=df3_pivot.values.tolist()
print(list3,'\n')

Task6_0527. df4에서 특정 열의 데이터 타입을 변환한 후 변환된 타입을 확인하세요.

In [ ]:
df4 = pd.DataFrame({
    'A': ['1', '2', '3', '4'],
    'B': ['5.1', '6.2', '7.3', '8.4'],
    'C': ['2021-01-01', '2021-02-01', '2021-03-01', '2021-04-01']
})
print(df4)

   A    B           C
0  1  5.1  2021-01-01
1  2  6.2  2021-02-01
2  3  7.3  2021-03-01
3  4  8.4  2021-04-01

In [ ]:
# 원하는 컬럼의 타입만 바꾸고 싶다면:
# astype({'column': 'type'})
print(df4.dtypes)
print()

df4['B']=df4['B'].astype(float)
print(df4)
print()
print(df4.dtypes)

A    object
B    object
C    object
dtype: object

   A    B           C
0  1  5.1  2021-01-01
1  2  6.2  2021-02-01
2  3  7.3  2021-03-01
3  4  8.4  2021-04-01

A     object
B    float64
C     object
dtype: object

In [ ]:
# 강사님 풀이:
# 'A'열을 정수형 (int)로 변환
df4['A']=df4['A'].astype(int)

# 'B'열을 부동 소수점 (float)으로 변환
df4['B']=df4['B'].astype(float)

# 'C'열을 datetime 형식으로 변환
df4['C']=pd.to_datetime(df4['C'])

# 데이터 타입 확인
print(df4.dtypes)

Task7_0527. df5에서 나이가 25 이상인 행을 출력하세요.

In [ ]:
df5 = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [24, 27, 22, 32, 29],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
})
print(df5)

      Name  Age         City
0    Alice   24     New York
1      Bob   27  Los Angeles
2  Charlie   22      Chicago
3    David   32      Houston
4      Eve   29      Phoenix

In [ ]:
df5_1=df5[df5['Age']>=25] # df5 배열에서 age>-25 조건에 해당되는 df5 행을 df5_1에 담기
print(df5_1)

    Name  Age         City
1    Bob   27  Los Angeles
3  David   32      Houston
4    Eve   29      Phoenix

In [ ]:
# 추가 연습:
# column에 대해서는 list 형식으로 넣어줘도 가능
df5[['Name','City']]