In [2]:
# MySQL ë°ì´í„°ë² ì´ìŠ¤ ì—°ê²° ì„¤ì •

import pymysql

# ë°ì´í„°ë² ì´ìŠ¤ ì—°ê²°
connection = pymysql.connect(
    host='localhost',
    user='kita3',
    password='kita3',
    database='kita3_db'
)

cursor = connection.cursor()

In [3]:
# í…Œì´ë¸” ì‚­ì œ
drop_table_query = "DROP TABLE if EXISTS customer"
cursor.execute(drop_table_query)
connection.commit()

In [34]:
# ë°ì´í„° ì¡°íšŒ
select_query = "SELECT * FROM customer"
cursor.execute(select_query)
results = cursor.fetchall()
for row in results:
    print(row)

(1, 'john_doe', 'john@example.com', 30, datetime.datetime(2024, 7, 15, 12, 6, 48))

In [41]:
# ë°ì´í„° ì¡°íšŒ ê²°ê³¼ë¥¼ DataFrameìœ¼ë¡œ ë³€í™˜
import pandas as pd

# ì»¬ëŸ¼ ì´ë¦„ ê°€ì ¸ì˜¤ê¸°
column_names = [desc[0] for desc in cursor.description]

# DataFrameìœ¼ë¡œ ë³€í™˜
df = pd.DataFrame(results, columns=column_names)

# DataFrame ì¶œë ¥
print(df)

   id username                email  age          created_at
0   2    alice    alice@example.com   25 2024-07-15 12:21:42
1   3      bob      bob@example.com   28 2024-07-15 12:21:42
2   4  charlie  charlie@example.com   22 2024-07-15 12:21:42

In [5]:
# DataFrameì„ CSV íŒŒì¼ë¡œ ì €ì¥
df = df.to_csv("data_0715", index=False)

NameError: name 'df' is not defined

In [4]:
# xlxsë¥¼ csvë¡œ ë§Œë“¤ê¸°
import pandas as pd
import csv
# import excel

a = pd.read_excel('data_0715.xlsx')

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.

In [3]:
# CSV íŒŒì¼ ì½ì–´ì„œ ë°ì´í„°ë² ì´ìŠ¤ì— ì‚½ì…
import csv

# CSV íŒŒì¼ ì—´ê¸°
file_path = 'data_0716.csv'
df = pd.read_csv(file_path)

df.columns

NameError: name 'pd' is not defined

In [37]:
import csv

# CSV íŒŒì¼ ì—´ê¸°
file_path = 'data_0715.csv'
df = pd.read_csv(file_path)

df.isnull()

,ShopName,ShopRating,Category_catchtable,Location_catchtable,LunchDinner,Description,Reviews,Address,Nickname,User Rating,...,Category_catchtable_1,avg_ì ì‹¬,avg_ì €ë…,min_ì ì‹¬,max_ì ì‹¬,min_ì €ë…,max_ì €ë…,Location,Lunch,Dinner
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41478,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
41479,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
41480,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
41481,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
41482,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [8]:
# MySQL ë°ì´í„°ë² ì´ìŠ¤ ì—°ê²° ì„¤ì •

import pymysql

# ë°ì´í„°ë² ì´ìŠ¤ ì—°ê²°
connection = pymysql.connect(
    host='localhost',
    user='kita3',
    password='kita3',
    database='kita3_db'
)

cursor = connection.cursor()

In [5]:
# ì—¬ê¸°ì„œ ë¶€í„° ëŒë ¤ì£¼ì„¸ìš”
# MySQL ë°ì´í„°ë² ì´ìŠ¤ ì—°ê²° ì„¤ì •

import pymysql

# ë°ì´í„°ë² ì´ìŠ¤ ì—°ê²°
connection = pymysql.connect(
    host='localhost',
    user='kita3',
    password='kita3',
    database='kita3_db'
)

cursor = connection.cursor()


# web í…Œì´ë¸” ìƒì„±
create_table_query = """
CREATE TABLE IF NOT EXISTS web(
    id INT AUTO_INCREMENT PRIMARY KEY,
    ShopName VARCHAR(50) NOT NULL,
    ShopRating FLOAT,
    Category_catchtable VARCHAR(50),
    Location_catchtable VARCHAR(100) NOT NULL,
    LunchDinner VARCHAR(50),
    Description VARCHAR(500),
    Reviews INT,
    Address VARCHAR(100) NOT NULL,
    Nickname VARCHAR(100) NOT NULL,
    User_Rating FLOAT,
    MealTime VARCHAR(10),
    Date DATE,
    User_Review VARCHAR(2500),
    Save INT,
    Category_catchtable_1 VARCHAR(100) NOT NULL,
    avg_ì ì‹¬ VARCHAR(100),
    avg_ì €ë… VARCHAR(100),
    min_ì ì‹¬ INT,
    max_ì ì‹¬ INT,
    min_ì €ë… INT,
    max_ì €ë… INT,
    Location VARCHAR(50) NOT NULL,
    Lunch VARCHAR(50),
    Dinner VARCHAR(50)
);
"""
  # User_Review VARCHAR(900),
cursor.execute(create_table_query)
connection.commit()

In [22]:
# í…Œì´ë¸” ì‚­ì œ
# ê±´ë„ˆë›°ì„¸ìš”
drop_table_query = "DROP TABLE if EXISTS web"
cursor.execute(drop_table_query)
connection.commit()

In [45]:
# ê±´ë„ˆë›°ì„¸ìš”
# CSV íŒŒì¼ ì—´ê¸°
file_path = 'data_0716.csv'
df = pd.read_csv(file_path)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41333 entries, 0 to 41332
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ShopName               41333 non-null  object
 1   ShopRating             41333 non-null  float64
 2   Category_catchtable    41333 non-null  object
 3   Location_catchtable    41333 non-null  object
 4   LunchDinner            41333 non-null  object
 5   Description            41333 non-null  object
 6   Reviews                41333 non-null  int64
 7   Address                41333 non-null  object
 8   Nickname               41286 non-null  object
 9   User Rating            41287 non-null  float64
 10  Meal Time              41256 non-null  object
 11  Date                   41287 non-null  object
 12  User Review            41281 non-null  object
 13  Save                   41333 non-null  object
 14  Category_catchtable_1  41333 non-null  object
 15  avg_ì ì‹¬                 41333 non-null  object
 16  avg_ì €ë…                 41333 non-null  object
 17  min_ì ì‹¬                 29814 non-null  float64
 18  max_ì ì‹¬                 29814 non-null  float64
 19  min_ì €ë…                 40669 non-null  float64
 20  max_ì €ë…                 40669 non-null  float64
 21  Location               41333 non-null  object
 22  Lunch                  41333 non-null  object
 23  Dinner                 41121 non-null  object
dtypes: float64(6), int64(1), object(17)
memory usage: 7.6+ MB

In [36]:
import pandas as pd
import pymysql

# ê±´ë„ˆë›°ì„¸ìš”

# CSV íŒŒì¼ ì—´ê¸°
file_path = 'data_0716.csv'
df = pd.read_csv(file_path)

# NaN ê°’ì„ ë‹¤ë¥¸ ê°’ìœ¼ë¡œ ëŒ€ì²´
df[['min_ì ì‹¬', 'max_ì ì‹¬', 'min_ì €ë…', 'max_ì €ë…']] = df[['min_ì ì‹¬', 'max_ì ì‹¬', 'min_ì €ë…', 'max_ì €ë…']].fillna(0)
df = df.fillna('')  # NaNì„ ë¹ˆ ë¬¸ìì—´ë¡œ ëŒ€ì²´í•  ì˜ˆì‹œ

In [ ]:
import pandas as pd
import pymysql

# CSV íŒŒì¼ ì—´ê¸°
file_path = 'data_0716.csv'
df = pd.read_csv(file_path)

# NaN ê°’ì„ ë‹¤ë¥¸ ê°’ìœ¼ë¡œ ëŒ€ì²´
df[['min_ì ì‹¬', 'max_ì ì‹¬', 'min_ì €ë…', 'max_ì €ë…']] = df[['min_ì ì‹¬', 'max_ì ì‹¬', 'min_ì €ë…', 'max_ì €ë…']].fillna(0)
df = df.fillna('')  # NaNì„ ë¹ˆ ë¬¸ìì—´ë¡œ ëŒ€ì²´í•  ì˜ˆì‹œ
# 'save' ì»¬ëŸ¼ì˜ ê°’ì—ì„œ ì‰¼í‘œ ì œê±°
df['Save'] = df['Save'].str.replace(',', '')

# ì •ìˆ˜í˜•ìœ¼ë¡œ ë³€í™˜
df['Save'] = df['Save'].astype(int)

# í•„ìš”í•œ ì»¬ëŸ¼ë§Œ ì„ íƒ
data_to_insert = df[['ShopName', 'ShopRating', 'Category_catchtable', 'Location_catchtable',
       'LunchDinner', 'Description', 'Reviews', 'Address', 'Nickname',
       'User Rating', 'Meal Time', 'Date', 'User Review', 'Save',
       'Category_catchtable_1', 'avg_ì ì‹¬', 'avg_ì €ë…', 'min_ì ì‹¬', 'max_ì ì‹¬',
       'min_ì €ë…', 'max_ì €ë…', 'Location', 'Lunch', 'Dinner']].values.tolist()

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41333 entries, 0 to 41332
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ShopName               41333 non-null  object
 1   ShopRating             41333 non-null  float64
 2   Category_catchtable    41333 non-null  object
 3   Location_catchtable    41333 non-null  object
 4   LunchDinner            41333 non-null  object
 5   Description            41333 non-null  object
 6   Reviews                41333 non-null  int64
 7   Address                41333 non-null  object
 8   Nickname               41333 non-null  object
 9   User Rating            41333 non-null  object
 10  Meal Time              41333 non-null  object
 11  Date                   41333 non-null  object
 12  User Review            41333 non-null  object
 13  Save                   41333 non-null  int32
 14  Category_catchtable_1  41333 non-null  object
 15  avg_ì ì‹¬                 41333 non-null  object
 16  avg_ì €ë…                 41333 non-null  object
 17  min_ì ì‹¬                 41333 non-null  float64
 18  max_ì ì‹¬                 41333 non-null  float64
 19  min_ì €ë…                 41333 non-null  float64
 20  max_ì €ë…                 41333 non-null  float64
 21  Location               41333 non-null  object
 22  Lunch                  41333 non-null  object
 23  Dinner                 41333 non-null  object
dtypes: float64(5), int32(1), int64(1), object(17)
memory usage: 7.4+ MB

In [7]:
# ì—¬ê¸° ëŒë¦¬ì„¸ìš”
import pymysql
import time

# ë°‘ì— ì—ëŸ¬ ëœ¨ëŠ”ê±´ ë¦¬ë·°ê°€ ë„ˆë¬´ ê¸¸ê±°ë‚˜ ë¹ˆì¹¸ì´ì–´ì„œ ê·¸ë ‡ìŠµë‹ˆë‹¤ ë¬´ì‹œí•˜ì…”ë„ ë©ë‹ˆë‹¤ Error for row 20363: ['ë´‰í”¼ì–‘ ìš©ì‚°ì  ê¹Œì§€ ë‚˜ì˜´
def insert_data_with_skip(data_to_insert):
    # MySQL ë°ì´í„°ë² ì´ìŠ¤ ì—°ê²° ì„¤ì •
    connection = pymysql.connect(host='localhost',
                                 user='kita3',
                                 passwd='kita3',
                                 db='kita3_db',
                                 charset='utf8mb4',  # Ensure utf8mb4 charset is used
                                 use_unicode=True)

    cursor = connection.cursor()

    # SQL ì¿¼ë¦¬ ì •ì˜
    insert_query = """
    INSERT INTO web (ShopName, ShopRating, Category_catchtable, Location_catchtable, 
    LunchDinner, Description, Reviews, Address, Nickname, User_Rating, MealTime, Date, 
    User_Review, Save, Category_catchtable_1, avg_ì ì‹¬, avg_ì €ë…, min_ì ì‹¬, max_ì ì‹¬, 
    min_ì €ë…, max_ì €ë…, Location, Lunch, Dinner) 
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """

    for idx, row in enumerate(data_to_insert):
        try:
            cursor.execute(insert_query, row)
            connection.commit()
        except pymysql.OperationalError as e:
            if e.args[0] == 1205:  # Lock wait timeout
                print(f"Lock wait timeout exceeded for row {idx}: {row}")
                connection.rollback()  # rollback the transaction for this row
            else:
                print(f"Operational error for row {idx}: {row} - {e}")
                connection.rollback()  # rollback the transaction for this row
        except Exception as e:
            print(f"Error for row {idx}: {row} - {e}")
            connection.rollback()  # rollback the transaction for this row


# Use the function to insert data with skipping problematic rows
insert_data_with_skip(data_to_insert)

Error for row 6141: ['ì™€ ì„œìš¸ (wwah)', 4.8, 'ì™€ì¸', 'í•œë‚¨', 'ì ì‹¬ ì €ë… ë™ì¼ê°€ 1 - 4ë§Œì›', 'í•œë‚¨ë™ ë§›ì§‘, ë¸ŒëŸ°ì¹˜, ë‹¤ì´ë‹, ì™€ì¸, ì´êµ­ì  ê³µê°„', 1046, 'ì„œìš¸íŠ¹ë³„ì‹œ ìš©ì‚°êµ¬ ì‹ í¥ë¡œ 41 1ì¸µ', 'ê¹€ëª¨ë„¤ê¹€', 5.0, 'ì €ë…', '2024.06.04', 'ì €ëŠ” ì¢…ì¢… ì¹œêµ¬ë“¤ì—ê²Œ ì›ì„±ì„ ì‚¬ê³¤ í•©ë‹ˆë‹¤ ì£¼ë¡œ ì € í˜¼ì ë§›ìˆëŠ”ê±° ë¨¹ìœ¼ëŸ¬ ë‹¤ë‹Œë‹¤ëŠ” ì›ì„±ì„â€¦ì•„ë‹ˆ ê·¼ë° ì• ì´ˆì— ì¹œêµ¬ë“¤ì„ ëŠ˜ ë§›ì§‘ìœ¼ë¡œ ì´ëŒ ìˆ˜ ìˆëŠ”ê±´ ì œê°€ ë¨¼ì € ì—¬ê¸°ì €ê¸° ë‹¤ë…€ë³´ê³  ì¢‹ì€ ê³³ë§Œ ì„ ì •í•´ì„œ ì§€ì¸ë“¤ ë°ë ¤ê°€ê¸° ë•Œë¬¸ì´ê±°ë“ ìš”? ê·¸ëŸ° ì˜ë¯¸ì—ì„œ ë²Œì¨ ì—¬ì„¯ ë²ˆì€ ë‹¤ë…€ì˜¨ ê²ƒ ê°™ì€, ìµœê·¼ì— ì¹œêµ¬ë‘ ë‹¤ë…€ì˜¨ ê¸°ì–µ ë¦¬ë·°ë¥¼ ì‹œì‘í•©ë‹ˆë‹¤âœ¨  ë¶„ìœ„ê¸° 5ì›”ì— ë‹¤ë…€ì˜¨ ê±´ ì²˜ìŒì¸ ê²ƒ ê°™ì€ë° ë‚ ì´ ë”± ì¢‹ì€ ë´„ì— ê°€ë‹ˆê¹Œ ë°–ì´ ë³´ì´ëŠ” ë°” ìë¦¬ê°€ ë„ˆë¬´ ì¢‹ë”ë¼êµ¬ìš”. í•´ë°©ì´Œì´ ì›Œë‚™ ì˜ˆìœ ê°€ê²Œë„ ë§ê³  ì˜ˆìœ ì‚¬ëŒë“¤ë„(?) ë§ì€ ë™ë„¤ë¼ì„œ ë°–ì„ ë³´ë©´ì„œ ì¹œêµ¬ë‘ í•œ ì” í•˜ëŠ” ë¶„ìœ„ê¸°ê°€ ì¢‹ì•˜ì–´ìš”. ê²Œë‹¤ê°€ ìŒì‹ì„ ì¦ê¸°ëŠ” ë™ì•ˆ ì„œì„œíˆ í•´ê°€ ì§€ë©´ì„œ í’ê²½ì´ ë‹¬ë¼ì§€ë‹ˆê¹Œ ë”ìš± ì¬ë°Œì—ˆìŠµë‹ˆë‹¤ğŸ˜Š ë°” ìë¦¬ëŠ” ì£¼ë°©ì„ ë“± ì§€ê³  ìˆì–´ì„œ ì„œë²„ ë¶„ë“¤ê³¼ ì†Œí†µí•˜ê¸° ì–´ë µì§€ ì•Šì„ê¹Œ ìƒê°í–ˆëŠ”ë° í™€ ë´ì£¼ì‹œëŠ” ì§ì›ë¶„ì´ ë§¤ì˜ ëˆˆì´ì…”ì„œ ì €í¬ê°€ ë­”ê°€ í•„ìš”í•´ ë³´ì´ë©´ ë°”ë¡œë°”ë¡œ ì™€ ì£¼ì‹œë”ë¼êµ¬ìš” ì„¸ì‹¬í•˜ê²Œ ì±™ê²¨ì£¼ì…”ì„œ ë°” ìë¦¬ë„ í•˜ë‚˜ë„ ë¶ˆí¸í•˜ì§€ ì•Šì•˜ë‹µë‹ˆë‹¤  ì£¼ë¥˜ ê·¸ë™ì•ˆ ê¸°ì–µì— ê°€ë©´ ì•„ë¬»ë”° ì‚¬ì¼€ë¥¼ ì‹œì¼œëŒ€ì„œ ì£¼ë¥˜ ë©”ë‰´íŒì„ ì œëŒ€ë¡œ ë³¸ ì ì´ ì—†ëŠ”ë°, ì´ë²ˆì— ë©”ë‰´íŒì„ ìì„¸íˆ ë³´ë‹ˆ ë§ê³  ë§¥ì£¼ë¼ëŠ”ê²Œ ìˆì§€ ë­”ê°€ìš” íƒ€ì´ì™„ ë§ê³ ë§¥ì£¼ ë¼ê³  ì í˜€ìˆì–´ì„œ ì‹ì „ì£¼ë¡œ ì‹œì¼œë´¤ìŠµë‹ˆë‹¤. ì²« ë²ˆì§¸ ì‚¬ì§„ì¸ ë§¥ì£¼ì¸ë° ë°” ìë¦¬ì— ì•‰ì•„ ë§¥ì£¼ í•œ ì” ë“¤ì´í‚¤ìë§ˆì íƒ€ì´ë² ì´ë¡œ ì—¬í–‰ ë– ë‚œ ê¸°ë¶„ì´ì—ˆì–´ìš”â€¦ë„ˆë¬´ ë‹¬ì§€ë„ ì•Šê³  íƒ„ì‚°ê°ë„ ì ë‹¹í•´ì„œ ì‹ì‚¬ë¥¼ ì‹œì‘í•˜ê¸°ì— ì•ì„œ í•œ ì” í•˜ê¸° ë”± ì¢‹ì€ ìˆ !! ë„ìˆ˜ë„ ë‚®ìœ¼ë‹ˆ í˜¹ì‹œ ìˆ ì´ ë¶€ë‹´ìŠ¤ëŸ½ë‹¤ í•˜ì‹œëŠ” ë¶„ë“¤ê»˜ë„ ì¶”ì²œì´ë©° ìˆ  ì¢‹ì•„í•˜ì‹œëŠ” ë¶„ë“¤ê»œ ìŠ¤íƒ€í„°ë¡œ ì¶”ì²œí•©ë‹ˆë‹¤ë‹¤ë‹¤ ë‘ë²ˆì§¸ë¡œëŠ” ìœ ìì‚¬ì¼€ ë„ì¿ ë¦¬ì™€ í•˜ì´ë³¼ì„ ë§ˆì…¨ì–´ìš”. ìœ ìì‚¬ì¼€ëŠ” ì œê°€ ê¸°ì–µì—ì„œ ì¢‹ì•„í•˜ëŠ” ìˆ  ì¤‘ í•˜ë‚˜ë¼ì„œ ì˜¬ ë•Œë§ˆë‹¤ ë§ˆì‹œëŠ” ê²ƒ ê°™ë„¤ìš” ì‹œì¤‘ì—ë„ ë§ì€ ìœ ì ìˆ ì´ ì¡´ì¬í•˜ì§€ë§Œ ì‚¬ì¥ë‹˜ì´ ìˆ  ê³ ë¥´ëŠ” ì„¼ìŠ¤ê°€ ë„˜ ì¢‹ìœ¼ì‹ ê²Œ ê¸°ì–µì˜ ìŒì‹ë“¤ì´ë‘ ì´ ìœ ì ì‚¬ì¼€ê°€ ë°¸ëŸ°ìŠ¤ê°€ ë„ˆë¬´ ì¢‹ì•„ìš”!!! ì›ë˜ ìŒì‹ì€ ê°€ì¥ ë§›ìˆëŠ” ê²ƒì´ ë›°ì–´ë‚œê²Œ ì•„ë‹ˆë¼ ê°€ì¥ ì¡°í™”ë¡œìš´ ê²ƒì´ ìµœê³ ì¸ ë²• ë§ˆì§€ë§‰ì€ í•˜ì´ë³¼ì„ ë§ˆì…¨ìŠµë‹ˆë‹¤ ê·¸ë˜ë„ ì´ìì¹´ì•¼ë¥¼ ì™”ëŠ”ë° ìˆ  ë§› ë‚˜ëŠ” ìˆ ë„ ë§ˆì…”ì¤˜ì•¼ì£  ì¹œêµ¬ì™€ ì € ë‘˜ ë‹¤ ìŒì£¼ë¥¼ ê¸°ê¹”ë‚˜ê²Œ í•˜ê¸°ì—” ìˆ˜ìš”ì¼ì´ì—ˆê¸° ë•Œë¬¸ì— ë‚˜ë¦„ëŒ€ë¡œ ìì¤‘í•˜ë©´ì„œ ìˆ ì„ ê³¨ëëŠ”ë°, ë‘ì‹œê°„ ì •ë„ ì¦ê¸°ê¸°ì— ì´ ë§ê³ ë§¥ì£¼ ìœ ìì‚¬ì¼€ ë„ì¿ ë¦¬ í•˜ì´ë³¼ ë£¨í‹´ ë„ˆë¬´ ì¢‹ì•˜ë„¤ìš”. ì ë‹¹íˆ ê¸°ë¶„ ì¢‹ì„ë§Œ í•œ ì¡°í•©ì´ì—ˆìŠµë‹ˆë‹¤ ìˆ ì€ ë§ˆì‹œê³  ì‹¶ì€ë° ë‹¤ìŒë‚  ë¶€ë‹´ì€ ì—†ì—ˆìœ¼ë©´ ì¢‹ê² ê³  ì´ê²ƒì €ê²ƒ ë‹¤ì–‘í•˜ê²Œ ë§ˆì‹œê³  ì‹¶ì–´!! í•˜ì‹œëŠ” ë¶„ë“¤ ë„ì „í•´ë³´ì„¸ìš©  ìŒì‹ ì‹¬ì•¼ì‹ë‹¹ ê¸°ì–µì˜ ëª…ë¶ˆí—ˆì „â€¦ê³ ë“±ì–´ ë´‰ì´ˆë°¥â€¦ì œ ì¹œêµ¬ê°€ ë¹„ë¦° ê±° ì§„ì§œ ì‹«ì–´í•´ì„œ ê°„ì¥ê²Œì¥ë„ ì•ˆ ì¢‹ì•„í•˜ê³  í•´ì‚°ë¬¼ë§Œ ë¨¹ì—ˆë‹¤ í•˜ë©´ ì œì¼ ë¨¼ì € ë¬¼ì–´ë³´ëŠ” ë§ì´ â€œì´ê±° ë¹„ë ¤?â€ ì¸ ì‚¬ëŒì´ê±°ë“ ìš”. ê·¼ë° ì´ ì¹œêµ¬ë„ í•œ ì… ë¨¹ìë§ˆì ì§œì¦ì„ ë‚´ê¸° ì‹œì‘í–ˆì–´ìš” ì•„ì‹œì£  ë„ˆë¬´ ë§›ìˆëŠ”ê±° ë¨¹ìœ¼ë©´ í™”ë‚˜ëŠ” ìŠ¤íƒ€ì¼ì˜ ì‚¬ëŒâ€¦ì´ ì¹œêµ¬ê°€ ê¸°ì–µì„ ì²˜ìŒ ë°©ë¬¸í•´ë³´ëŠ”ê±°ë¼ ì œê°€ ê³ ë“±ì–´ ë´‰ì´ˆë°¥ í° ì¡°ê° ë‹¤ ì–‘ë³´í–ˆëŠ”ë° ì†”ì§íˆ ì¬ë°©ë¬¸ì¸ ì¹œêµ¬ë‘ ê°”ë‹¤ë©´ ì–‘ë³´ ì•ˆ í–ˆì„ê±°ì˜ˆìš” í›„ ì‹¬ì•¼ì‹ë‹¹ ê¸°ì–µì—ì„œ ë°°ë ¤ë¥¼ ë°°ì›ë‹ˆë‹¤ ì•„ë¬´ë˜ë„ ì´ìì¹´ì•¼ì— í•´ì‚°ë¬¼ ë©”ë‰´ê°€ ë§ì€ ê°€ê²Œë‹¤ë³´ë‹ˆ í•´ì‚°ë¬¼ ìª½ì— ê·¸ë ‡ê²Œ í¥ë¯¸ê°€ ì—†ëŠ” ë¶„ë“¤ì€ ë‚œ ë­˜ ë¨¹ì–´ì•¼ í•˜ì§€?ë¼ê³  ìƒê°í•  ìˆ˜ë„ ìˆì–´ìš” ê·¼ë° ì „í˜€ ê±±ì •í•˜ì‹¤ í•„ìš” ì—†ì–´ìš” ì´ ì§‘ì˜ ì‹œê·¸ë‹ˆì²˜ ì¤‘ì—”â€¦ë¶€íƒ€ê°€ì¿ ë‹ˆë„ ìˆê±°ë“ ì˜ˆâ€¦ì¼ë³¸ì—ì„œë„ ë¶€íƒ€ê°€ì¿ ë‹ˆëŠ” ë§ì´ ë¨¹ì–´ë´¤ëŠ”ë° ê·¸ë˜ìš” ì†”ì§íˆ ì¼ë³¸ ìŒì‹ì´ë‹ˆ ì¼ë³¸ì—ì„œ ë¨¹ëŠ”ê²Œ ì •ì„ì ì¸ ë§›ì´ê³  ì „í†µ ë°©ì‹ìœ¼ë¡œ ë§Œë“ ê±°ê² ì£  ê·¼ë° ê·¸ê²Œ ë­ê°€ ì¤‘ìš”í•œê°€ì—¬ ë„ì¿„ í›„ì¿ ì˜¤ì¹´ ì˜¤ì‚¬ì¹´ì—ì„œ ë¨¹ëŠ” ë¶€íƒ€ê°€ì¿ ë‹ˆë³´ë‹¤ ì„œìš¸ì‹œ ìš©ì‚°êµ¬ì—ì„œ ë¨¹ëŠ” ë¶€íƒ€ê°€ì¿ ë‹ˆê°€ ë” ë§›ìˆëŠ”ë°ìš”;;; ã… ã… ã… ã…  6ë²ˆ ë°©ë¬¸ ì¤‘ì— 6ë²ˆ ë‹¤ ì‹œì¼œë¨¹ì—ˆëŠ”ë° ì•„ì§ ì•ˆ ì§ˆë¦¼ ì†”ì§íˆ ì €ëŠ” ì´ê±° 1ì¸ 1ì ‘ì‹œ í•´ì•¼ ê·¸ê²Œ ì¸ê°„ìœ¼ë¡œì„œì˜ ë„ë¦¬ê°€ ì•„ë‹Œê°€ ì‹¶ìŒ. ì € ë‘ê»ê³  ì»¤ë‹¤ë€ ì˜¤ê²¹ì‚´ ë©ì–´ë¦¬ê°€ ì‹ê°ì€ ì‚´ì•„ìˆëŠ”ë° ê·¸ë ‡ë‹¤ê³  ì €ì‘ê·¼ì´ í˜ê²¨ìš¸ ì •ë„ëŠ” ì•„ë‹ˆê³  ë”± ì ë‹¹í•œ ì”¹ëŠ” ë§›ê³¼ ì¥ì‹œê°„ ì†ŒìŠ¤ì— ì¡¸ì—¬ì§„ í’ë¯¸ê°€ ìˆë‹¤ë‹ˆê¹Œìš”â€¦ê·¸ë¦¬ê³  ë²„í„° í’ë¯¸ ê°€ë“ ë§¤ì‰¬ í¬í…Œì´í† ì™€ ì‹ ì„ í•¨ìœ¼ë¡œ ê· í˜•ì„ ë§ì¶°ì£¼ëŠ” ìƒëŸ¬ë“œê¹Œì§€ì•„ë‚´ê°€ì´ê±¸ì™œì•„ì¹¨ì¶œê·¼ê¸¸ì—ì‘ì„±í•´ê°€ì§€ê³ ì•„ì¹¨ë„ë¨¹ê³ ë‚˜ì™”ëŠ”ë°ë°°ê³ í”„ê²Œì•„ã…  ì„¸ë²ˆì§¸ ìŒì‹ìœ¼ë¡œëŠ” ë„ë¯¸ë§ˆë¼ ì‹œì¼°ì–´ìš” ë‹´ë°±í•˜ê²Œ êµ¬ì›Œì§„ ë„ë¯¸ë‘ ë§ˆë¼ì†ŒìŠ¤ ê·¸ë¦¬ê³  ë¶€ì¡±í•œ ì‹ê°ì„ ì±„ì›Œì£¼ëŠ” íŠ€ê¹€ê¹Œì§€ ë„ˆë¬´ ì™„ë²½!!! ìƒì„ êµ¬ì´ëŠ” ì£¼ë¡œ ë°±ë°˜ì§‘ì—ì„œë‚˜ ë¨¹ë‹¤ê°€ ì´ë ‡ê²Œ ìš”ë¦¬ì²˜ëŸ¼ ë¨¹ìœ¼ë‹ˆê¹Œ ë„ˆë¬´ ì¢‹ë”ë¼êµ¬ìš”. ë§¤ì½¤í•œ ë§›ì„ ì¢‹ì•„í•˜ëŠ” ì €ëŠ” ì†ŒìŠ¤ë¥¼ ì—„ì²­ í¼ë¨¹ì„ë§Œí¼ ë§ˆë¼ì†ŒìŠ¤ê°€ ì…ì— ë”± ë§ì•˜ê³ , ë§¤ìš´ê±° ëª» ë¨¹ëŠ” ì¹œêµ¬ëŠ” ë„ë¯¸ ì‚´ì— ì†ŒìŠ¤ ì¡°ê¸ˆì”© ì–¹ì–´ì„œ ë¨¹ì—ˆì–´ìš”. ê·¸ë¦¬ê³  ë§¤ìš´ë§›ì„ ì¤‘í™”ì‹œí‚¬ íŠ€ê¹€ì´ ê°™ì´ ìˆì–´ì„œ ë°¸ëŸ°ìŠ¤ê°€ ì¢‹ì•˜ë‹µë‹ˆë‹¤ğŸ‘ğŸ‘ ì¤‘ê°„ì— ì…°í”„ë‹˜ê»˜ì„œ ì„œë¹„ìŠ¤ë¡œ ì²­ì–´ë§ì´ë¥¼ ì£¼ì…¨ëŠ”ë° ì™€ ì´ê±°â€¦ì´ê²ƒë§Œ 17382719ê°œ ë¨¹ê³ ì‹¶ì„ ì •ë„ë¡œ ë„ˆë¬´ ì¢‹ì•˜ì–´ìš”. ì €ëŠ” ì œê°€ ìƒê°• í–¥ì„ ì´ë ‡ê²Œ ì¢‹ì•„í•˜ëŠ”ì§€ ëª°ëëŠ”ë° ì‹¬ì•¼ì‹ë‹¹ ê¸°ì–µì˜ ê³ ë“±ì–´ ë´‰ì´ˆë°¥ë„ ê·¸ë ‡ê³  ì´ ì²­ì–´ë„ ê·¸ë ‡ê³  ë“±í‘¸ë¥¸ ìƒì„  íŠ¹ìœ ì˜ ë°”ë‹¤í–¥ê³¼ ìƒê°•í–¥ì´ ë„ˆë¬´ ì˜ ì–´ìš¸ë ¤ì„œâ€¦ê°ë©ì˜ ëˆˆë¬¼ì´ ë‚˜ìš”â€¦ì§€ê¸ˆ ì´ í›„ê¸°ë¥¼ ì“°ë©° ì¶œê·¼ê¸¸ì—ì„œ ìš¸ê³ ìˆëŠ” ì˜ë¬¸ì˜ ì—¬ì„±ì…ë‹ˆë‹¤â€¦ ë§ˆì§€ë§‰ìœ¼ë¡œ ëŠ˜ ì˜¬ ë•Œë§ˆë‹¤ ë§›ìˆê²Œ ë¨¹ê³  ìˆëŠ” ê¸°ì–µë§Œì˜ í›„ì‹ ë””ì €íŠ¸ íŠ¹ì œ íŒ¥ í‘¸ë”©â€¦ì´ê±° 1kgì§œë¦¬ ë§Œë“¤ì–´ì„œ íŒ”ì•„ì£¼ì„¸ìš” ì œë°œìš” ë¶ˆìŒí•œ ë¨¹ë³´ í•˜ë‚˜ë§Œ êµ¬í•´ì£¼ì„¸ìš” ã…   ì´ ë‚ ì€ ì œ ì¹œêµ¬ì˜ ì´ì§ì„ ì¶•í•˜í•˜ê¸°ìœ„í•´ ë§ˆë ¨í•œ ìë¦¬ì˜€ëŠ”ë°, ì¹œêµ¬ë„ ë„ˆë¬´ë„ˆë¬´ ë§Œì¡±í•˜ê³  ì €ë„ ëŠ˜ ë„ˆë¬´ ë§›ìˆê²Œ ë¨¹ê³  ë‚˜ì˜¤ëŠ”ì§€ë¼  ë°©ë¬¸í•œ ì§€ ì¢€ ì§€ë‚˜ì„œ í›„ê¸°ë¥¼ ì“°ëŠ”ë°ë„ ì´ ë‚ ì˜ ì¡°ëª…ì˜¨ë„ìŠµë„(ã…‹)ê°€ ìƒê°ë‚˜ì„œ ê¸°ë¶„ì´ ì¢‹ì•„ì§€ë„¤ìš” ì‹¬ì•¼ì‹ë‹¹ ê¸°ì–µì—ì„œì˜ ê¸°ì–µì„ ê°€ì§€ê³  í™”ìš”ì¼ ì¶œê·¼ë„ í˜ë‚´ë³´ê² ìŠµë‹ˆë‹¤ ì•„â€¦ì•„ììâ€¦ë‹¤ìŒì— ë˜ ê°ˆê²Œìš”!!!!!!!!!!!  ', 9999, 'ì£¼ë¥˜', '25000', '25000', 10000.0, 40000.0, 10000.0, 40000.0, 'ìš©ì‚°êµ¬', 'ì ì‹¬ ì €ë… ë™ì¼ê°€ 1 - 4ë§Œì›', 'ì €ë… ë™ì¼ê°€ 1-4ë§Œì›'] - (1406, "Data too long for column 'User_Review' at row 1")
Error for row 20221: ['ë² ë¼ í•œë‚¨ì ', 4.6, 'ì´íƒˆë¦¬ì•„ìŒì‹', 'í•œë‚¨', 'ì ì‹¬ ì €ë… ë™ì¼ê°€ 2 - 5ë§Œì›', 'ë‚˜í´ë¦¬ í”¼ìí˜‘íšŒì—ì„œ ì¸ì¦ë°›ì€ ì§„ì§œ(vera) ë‚˜í´ë¦¬í”¼ìë¥¼ ì„ ë³´ì´ëŠ” ì´íƒˆë¦¬ì•„ ë ˆìŠ¤í† ë‘ ', 61, 'ì„œìš¸íŠ¹ë³„ì‹œ ìš©ì‚°êµ¬ í•œê°•ëŒ€ë¡œ40ê¸¸ 31 ìš©ìˆ˜ì • 1ì¸µ', '', '', '', '', '', 215, 'ì–‘ì‹', '35000', '35000', 20000.0, 50000.0, 20000.0, 50000.0, 'ìš©ì‚°êµ¬', 'ì ì‹¬ ì €ë… ë™ì¼ê°€ 2 - 5ë§Œì›', 'ì €ë… ë™ì¼ê°€ 2-5ë§Œì›'] - (1265, "Data truncated for column 'User_Rating' at row 1")
Error for row 20222: ['ë² ë¼ í•œë‚¨ì ', 4.6, 'ì´íƒˆë¦¬ì•„ìŒì‹', 'í•œë‚¨', 'ì ì‹¬ ì €ë… ë™ì¼ê°€ 2 - 5ë§Œì›', 'ë‚˜í´ë¦¬ í”¼ìí˜‘íšŒì—ì„œ ì¸ì¦ë°›ì€ ì§„ì§œ(vera) ë‚˜í´ë¦¬í”¼ìë¥¼ ì„ ë³´ì´ëŠ” ì´íƒˆë¦¬ì•„ ë ˆìŠ¤í† ë‘ ', 61, 'ì„œìš¸íŠ¹ë³„ì‹œ ìš©ì‚°êµ¬ í•œê°•ëŒ€ë¡œ40ê¸¸ 31 ìš©ìˆ˜ì • 1ì¸µ', '', '', '', '', '', 215, 'ì–‘ì‹', '35000', '35000', 20000.0, 50000.0, 20000.0, 50000.0, 'ìš©ì‚°êµ¬', 'ì ì‹¬ ì €ë… ë™ì¼ê°€ 2 - 5ë§Œì›', 'ì €ë… ë™ì¼ê°€ 2-5ë§Œì›'] - (1265, "Data truncated for column 'User_Rating' at row 1")
Error for row 20223: ['ë² ë¼ í•œë‚¨ì ', 4.6, 'ì´íƒˆë¦¬ì•„ìŒì‹', 'í•œë‚¨', 'ì ì‹¬ ì €ë… ë™ì¼ê°€ 2 - 5ë§Œì›', 'ë‚˜í´ë¦¬ í”¼ìí˜‘íšŒì—ì„œ ì¸ì¦ë°›ì€ ì§„ì§œ(vera) ë‚˜í´ë¦¬í”¼ìë¥¼ ì„ ë³´ì´ëŠ” ì´íƒˆë¦¬ì•„ ë ˆìŠ¤í† ë‘ ', 61, 'ì„œìš¸íŠ¹ë³„ì‹œ ìš©ì‚°êµ¬ í•œê°•ëŒ€ë¡œ40ê¸¸ 31 ìš©ìˆ˜ì • 1ì¸µ', '', '', '', '', '', 215, 'ì–‘ì‹', '35000', '35000', 20000.0, 50000.0, 20000.0, 50000.0, 'ìš©ì‚°êµ¬', 'ì ì‹¬ ì €ë… ë™ì¼ê°€ 2 - 5ë§Œì›', 'ì €ë… ë™ì¼ê°€ 2-5ë§Œì›'] - (1265, "Data truncated for column 'User_Rating' at row 1")
Error for row 20224: ['ë² ë¼ í•œë‚¨ì ', 4.6, 'ì´íƒˆë¦¬ì•„ìŒì‹', 'í•œë‚¨', 'ì ì‹¬ ì €ë… ë™ì¼ê°€ 2 - 5ë§Œì›', 'ë‚˜í´ë¦¬ í”¼ìí˜‘íšŒì—ì„œ ì¸ì¦ë°›ì€ ì§„ì§œ(vera) ë‚˜í´ë¦¬í”¼ìë¥¼ ì„ ë³´ì´ëŠ” ì´íƒˆë¦¬ì•„ ë ˆìŠ¤í† ë‘ ', 61, 'ì„œìš¸íŠ¹ë³„ì‹œ ìš©ì‚°êµ¬ í•œê°•ëŒ€ë¡œ40ê¸¸ 31 ìš©ìˆ˜ì • 1ì¸µ', '', '', '', '', '', 215, 'ì–‘ì‹', '35000', '35000', 20000.0, 50000.0, 20000.0, 50000.0, 'ìš©ì‚°êµ¬', 'ì ì‹¬ ì €ë… ë™ì¼ê°€ 2 - 5ë§Œì›', 'ì €ë… ë™ì¼ê°€ 2-5ë§Œì›'] - (1265, "Data truncated for column 'User_Rating' at row 1")
Error for row 20225: ['ë² ë¼ í•œë‚¨ì ', 4.6, 'ì´íƒˆë¦¬ì•„ìŒì‹', 'í•œë‚¨', 'ì ì‹¬ ì €ë… ë™ì¼ê°€ 2 - 5ë§Œì›', 'ë‚˜í´ë¦¬ í”¼ìí˜‘íšŒì—ì„œ ì¸ì¦ë°›ì€ ì§„ì§œ(vera) ë‚˜í´ë¦¬í”¼ìë¥¼ ì„ ë³´ì´ëŠ” ì´íƒˆë¦¬ì•„ ë ˆìŠ¤í† ë‘ ', 61, 'ì„œìš¸íŠ¹ë³„ì‹œ ìš©ì‚°êµ¬ í•œê°•ëŒ€ë¡œ40ê¸¸ 31 ìš©ìˆ˜ì • 1ì¸µ', '', '', '', '', '', 215, 'ì–‘ì‹', '35000', '35000', 20000.0, 50000.0, 20000.0, 50000.0, 'ìš©ì‚°êµ¬', 'ì ì‹¬ ì €ë… ë™ì¼ê°€ 2 - 5ë§Œì›', 'ì €ë… ë™ì¼ê°€ 2-5ë§Œì›'] - (1265, "Data truncated for column 'User_Rating' at row 1")
Error for row 20226: ['ë² ë¼ í•œë‚¨ì ', 4.6, 'ì´íƒˆë¦¬ì•„ìŒì‹', 'í•œë‚¨', 'ì ì‹¬ ì €ë… ë™ì¼ê°€ 2 - 5ë§Œì›', 'ë‚˜í´ë¦¬ í”¼ìí˜‘íšŒì—ì„œ ì¸ì¦ë°›ì€ ì§„ì§œ(vera) ë‚˜í´ë¦¬í”¼ìë¥¼ ì„ ë³´ì´ëŠ” ì´íƒˆë¦¬ì•„ ë ˆìŠ¤í† ë‘ ', 61, 'ì„œìš¸íŠ¹ë³„ì‹œ ìš©ì‚°êµ¬ í•œê°•ëŒ€ë¡œ40ê¸¸ 31 ìš©ìˆ˜ì • 1ì¸µ', '', '', '', '', '', 215, 'ì–‘ì‹', '35000', '35000', 20000.0, 50000.0, 20000.0, 50000.0, 'ìš©ì‚°êµ¬', 'ì ì‹¬ ì €ë… ë™ì¼ê°€ 2 - 5ë§Œì›', 'ì €ë… ë™ì¼ê°€ 2-5ë§Œì›'] - (1265, "Data truncated for column 'User_Rating' at row 1")
Error for row 20227: ['ë² ë¼ í•œë‚¨ì ', 4.6, 'ì´íƒˆë¦¬ì•„ìŒì‹', 'í•œë‚¨', 'ì ì‹¬ ì €ë… ë™ì¼ê°€ 2 - 5ë§Œì›', 'ë‚˜í´ë¦¬ í”¼ìí˜‘íšŒì—ì„œ ì¸ì¦ë°›ì€ ì§„ì§œ(vera) ë‚˜í´ë¦¬í”¼ìë¥¼ ì„ ë³´ì´ëŠ” ì´íƒˆë¦¬ì•„ ë ˆìŠ¤í† ë‘ ', 61, 'ì„œìš¸íŠ¹ë³„ì‹œ ìš©ì‚°êµ¬ í•œê°•ëŒ€ë¡œ40ê¸¸ 31 ìš©ìˆ˜ì • 1ì¸µ', '', '', '', '', '', 215, 'ì–‘ì‹', '35000', '35000', 20000.0, 50000.0, 20000.0, 50000.0, 'ìš©ì‚°êµ¬', 'ì ì‹¬ ì €ë… ë™ì¼ê°€ 2 - 5ë§Œì›', 'ì €ë… ë™ì¼ê°€ 2-5ë§Œì›'] - (1265, "Data truncated for column 'User_Rating' at row 1")
Error for row 20228: ['ë² ë¼ í•œë‚¨ì ', 4.6, 'ì´íƒˆë¦¬ì•„ìŒì‹', 'í•œë‚¨', 'ì ì‹¬ ì €ë… ë™ì¼ê°€ 2 - 5ë§Œì›', 'ë‚˜í´ë¦¬ í”¼ìí˜‘íšŒì—ì„œ ì¸ì¦ë°›ì€ ì§„ì§œ(vera) ë‚˜í´ë¦¬í”¼ìë¥¼ ì„ ë³´ì´ëŠ” ì´íƒˆë¦¬ì•„ ë ˆìŠ¤í† ë‘ ', 61, 'ì„œìš¸íŠ¹ë³„ì‹œ ìš©ì‚°êµ¬ í•œê°•ëŒ€ë¡œ40ê¸¸ 31 ìš©ìˆ˜ì • 1ì¸µ', '', '', '', '', '', 215, 'ì–‘ì‹', '35000', '35000', 20000.0, 50000.0, 20000.0, 50000.0, 'ìš©ì‚°êµ¬', 'ì ì‹¬ ì €ë… ë™ì¼ê°€ 2 - 5ë§Œì›', 'ì €ë… ë™ì¼ê°€ 2-5ë§Œì›'] - (1265, "Data truncated for column 'User_Rating' at row 1")
Error for row 20229: ['ë² ë¼ í•œë‚¨ì ', 4.6, 'ì´íƒˆë¦¬ì•„ìŒì‹', 'í•œë‚¨', 'ì ì‹¬ ì €ë… ë™ì¼ê°€ 2 - 5ë§Œì›', 'ë‚˜í´ë¦¬ í”¼ìí˜‘íšŒì—ì„œ ì¸ì¦ë°›ì€ ì§„ì§œ(vera) ë‚˜í´ë¦¬í”¼ìë¥¼ ì„ ë³´ì´ëŠ” ì´íƒˆë¦¬ì•„ ë ˆìŠ¤í† ë‘ ', 61, 'ì„œìš¸íŠ¹ë³„ì‹œ ìš©ì‚°êµ¬ í•œê°•ëŒ€ë¡œ40ê¸¸ 31 ìš©ìˆ˜ì • 1ì¸µ', '', '', '', '', '', 215, 'ì–‘ì‹', '35000', '35000', 20000.0, 50000.0, 20000.0, 50000.0, 'ìš©ì‚°êµ¬', 'ì ì‹¬ ì €ë… ë™ì¼ê°€ 2 - 5ë§Œì›', 'ì €ë… ë™ì¼ê°€ 2-5ë§Œì›'] - (1265, "Data truncated for column 'User_Rating' at row 1")
Error for row 20230: ['ë² ë¼ í•œë‚¨ì ', 4.6, 'ì´íƒˆë¦¬ì•„ìŒì‹', 'í•œë‚¨', 'ì ì‹¬ ì €ë… ë™ì¼ê°€ 2 - 5ë§Œì›', 'ë‚˜í´ë¦¬ í”¼ìí˜‘íšŒì—ì„œ ì¸ì¦ë°›ì€ ì§„ì§œ(vera) ë‚˜í´ë¦¬í”¼ìë¥¼ ì„ ë³´ì´ëŠ” ì´íƒˆë¦¬ì•„ ë ˆìŠ¤í† ë‘ ', 61, 'ì„œìš¸íŠ¹ë³„ì‹œ ìš©ì‚°êµ¬ í•œê°•ëŒ€ë¡œ40ê¸¸ 31 ìš©ìˆ˜ì • 1ì¸µ', '', '', '', '', '', 215, 'ì–‘ì‹', '35000', '35000', 20000.0, 50000.0, 20000.0, 50000.0, 'ìš©ì‚°êµ¬', 'ì ì‹¬ ì €ë… ë™ì¼ê°€ 2 - 5ë§Œì›', 'ì €ë… ë™ì¼ê°€ 2-5ë§Œì›'] - (1265, "Data truncated for column 'User_Rating' at row 1")
Error for row 20231: ['ë² ë¼ í•œë‚¨ì ', 4.6, 'ì´íƒˆë¦¬ì•„ìŒì‹', 'í•œë‚¨', 'ì ì‹¬ ì €ë… ë™ì¼ê°€ 2 - 5ë§Œì›', 'ë‚˜í´ë¦¬ í”¼ìí˜‘íšŒì—ì„œ ì¸ì¦ë°›ì€ ì§„ì§œ(vera) ë‚˜í´ë¦¬í”¼ìë¥¼ ì„ ë³´ì´ëŠ” ì´íƒˆë¦¬ì•„ ë ˆìŠ¤í† ë‘ ', 61, 'ì„œìš¸íŠ¹ë³„ì‹œ ìš©ì‚°êµ¬ í•œê°•ëŒ€ë¡œ40ê¸¸ 31 ìš©ìˆ˜ì • 1ì¸µ', '', '', '', '', '', 215, 'ì–‘ì‹', '35000', '35000', 20000.0, 50000.0, 20000.0, 50000.0, 'ìš©ì‚°êµ¬', 'ì ì‹¬ ì €ë… ë™ì¼ê°€ 2 - 5ë§Œì›', 'ì €ë… ë™ì¼ê°€ 2-5ë§Œì›'] - (1265, "Data truncated for column 'User_Rating' at row 1")
Error for row 20232: ['ë² ë¼ í•œë‚¨ì ', 4.6, 'ì´íƒˆë¦¬ì•„ìŒì‹', 'í•œë‚¨', 'ì ì‹¬ ì €ë… ë™ì¼ê°€ 2 - 5ë§Œì›', 'ë‚˜í´ë¦¬ í”¼ìí˜‘íšŒì—ì„œ ì¸ì¦ë°›ì€ ì§„ì§œ(vera) ë‚˜í´ë¦¬í”¼ìë¥¼ ì„ ë³´ì´ëŠ” ì´íƒˆë¦¬ì•„ ë ˆìŠ¤í† ë‘ ', 61, 'ì„œìš¸íŠ¹ë³„ì‹œ ìš©ì‚°êµ¬ í•œê°•ëŒ€ë¡œ40ê¸¸ 31 ìš©ìˆ˜ì • 1ì¸µ', '', '', '', '', '', 215, 'ì–‘ì‹', '35000', '35000', 20000.0, 50000.0, 20000.0, 50000.0, 'ìš©ì‚°êµ¬', 'ì ì‹¬ ì €ë… ë™ì¼ê°€ 2 - 5ë§Œì›', 'ì €ë… ë™ì¼ê°€ 2-5ë§Œì›'] - (1265, "Data truncated for column 'User_Rating' at row 1")
Error for row 20233: ['ë² ë¼ í•œë‚¨ì ', 4.6, 'ì´íƒˆë¦¬ì•„ìŒì‹', 'í•œë‚¨', 'ì ì‹¬ ì €ë… ë™ì¼ê°€ 2 - 5ë§Œì›', 'ë‚˜í´ë¦¬ í”¼ìí˜‘íšŒì—ì„œ ì¸ì¦ë°›ì€ ì§„ì§œ(vera) ë‚˜í´ë¦¬í”¼ìë¥¼ ì„ ë³´ì´ëŠ” ì´íƒˆë¦¬ì•„ ë ˆìŠ¤í† ë‘ ', 61, 'ì„œìš¸íŠ¹ë³„ì‹œ ìš©ì‚°êµ¬ í•œê°•ëŒ€ë¡œ40ê¸¸ 31 ìš©ìˆ˜ì • 1ì¸µ', '', '', '', '', '', 215, 'ì–‘ì‹', '35000', '35000', 20000.0, 50000.0, 20000.0, 50000.0, 'ìš©ì‚°êµ¬', 'ì ì‹¬ ì €ë… ë™ì¼ê°€ 2 - 5ë§Œì›', 'ì €ë… ë™ì¼ê°€ 2-5ë§Œì›'] - (1265, "Data truncated for column 'User_Rating' at row 1")
Error for row 20234: ['ë² ë¼ í•œë‚¨ì ', 4.6, 'ì´íƒˆë¦¬ì•„ìŒì‹', 'í•œë‚¨', 'ì ì‹¬ ì €ë… ë™ì¼ê°€ 2 - 5ë§Œì›', 'ë‚˜í´ë¦¬ í”¼ìí˜‘íšŒì—ì„œ ì¸ì¦ë°›ì€ ì§„ì§œ(vera) ë‚˜í´ë¦¬í”¼ìë¥¼ ì„ ë³´ì´ëŠ” ì´íƒˆë¦¬ì•„ ë ˆìŠ¤í† ë‘ ', 61, 'ì„œìš¸íŠ¹ë³„ì‹œ ìš©ì‚°êµ¬ í•œê°•ëŒ€ë¡œ40ê¸¸ 31 ìš©ìˆ˜ì • 1ì¸µ', '', '', '', '', '', 215, 'ì–‘ì‹', '35000', '35000', 20000.0, 50000.0, 20000.0, 50000.0, 'ìš©ì‚°êµ¬', 'ì ì‹¬ ì €ë… ë™ì¼ê°€ 2 - 5ë§Œì›', 'ì €ë… ë™ì¼ê°€ 2-5ë§Œì›'] - (1265, "Data truncated for column 'User_Rating' at row 1")
Error for row 20235: ['ë² ë¼ í•œë‚¨ì ', 4.6, 'ì´íƒˆë¦¬ì•„ìŒì‹', 'í•œë‚¨', 'ì ì‹¬ ì €ë… ë™ì¼ê°€ 2 - 5ë§Œì›', 'ë‚˜í´ë¦¬ í”¼ìí˜‘íšŒì—ì„œ ì¸ì¦ë°›ì€ ì§„ì§œ(vera) ë‚˜í´ë¦¬í”¼ìë¥¼ ì„ ë³´ì´ëŠ” ì´íƒˆë¦¬ì•„ ë ˆìŠ¤í† ë‘ ', 61, 'ì„œìš¸íŠ¹ë³„ì‹œ ìš©ì‚°êµ¬ í•œê°•ëŒ€ë¡œ40ê¸¸ 31 ìš©ìˆ˜ì • 1ì¸µ', '', '', '', '', '', 215, 'ì–‘ì‹', '35000', '35000', 20000.0, 50000.0, 20000.0, 50000.0, 'ìš©ì‚°êµ¬', 'ì ì‹¬ ì €ë… ë™ì¼ê°€ 2 - 5ë§Œì›', 'ì €ë… ë™ì¼ê°€ 2-5ë§Œì›'] - (1265, "Data truncated for column 'User_Rating' at row 1")
Error for row 20236: ['ë² ë¼ í•œë‚¨ì ', 4.6, 'ì´íƒˆë¦¬ì•„ìŒì‹', 'í•œë‚¨', 'ì ì‹¬ ì €ë… ë™ì¼ê°€ 2 - 5ë§Œì›', 'ë‚˜í´ë¦¬ í”¼ìí˜‘íšŒì—ì„œ ì¸ì¦ë°›ì€ ì§„ì§œ(vera) ë‚˜í´ë¦¬í”¼ìë¥¼ ì„ ë³´ì´ëŠ” ì´íƒˆë¦¬ì•„ ë ˆìŠ¤í† ë‘ ', 61, 'ì„œìš¸íŠ¹ë³„ì‹œ ìš©ì‚°êµ¬ í•œê°•ëŒ€ë¡œ40ê¸¸ 31 ìš©ìˆ˜ì • 1ì¸µ', '', '', '', '', '', 215, 'ì–‘ì‹', '35000', '35000', 20000.0, 50000.0, 20000.0, 50000.0, 'ìš©ì‚°êµ¬', 'ì ì‹¬ ì €ë… ë™ì¼ê°€ 2 - 5ë§Œì›', 'ì €ë… ë™ì¼ê°€ 2-5ë§Œì›'] - (1265, "Data truncated for column 'User_Rating' at row 1")
Error for row 20237: ['ë² ë¼ í•œë‚¨ì ', 4.6, 'ì´íƒˆë¦¬ì•„ìŒì‹', 'í•œë‚¨', 'ì ì‹¬ ì €ë… ë™ì¼ê°€ 2 - 5ë§Œì›', 'ë‚˜í´ë¦¬ í”¼ìí˜‘íšŒì—ì„œ ì¸ì¦ë°›ì€ ì§„ì§œ(vera) ë‚˜í´ë¦¬í”¼ìë¥¼ ì„ ë³´ì´ëŠ” ì´íƒˆë¦¬ì•„ ë ˆìŠ¤í† ë‘ ', 61, 'ì„œìš¸íŠ¹ë³„ì‹œ ìš©ì‚°êµ¬ í•œê°•ëŒ€ë¡œ40ê¸¸ 31 ìš©ìˆ˜ì • 1ì¸µ', '', '', '', '', '', 215, 'ì–‘ì‹', '35000', '35000', 20000.0, 50000.0, 20000.0, 50000.0, 'ìš©ì‚°êµ¬', 'ì ì‹¬ ì €ë… ë™ì¼ê°€ 2 - 5ë§Œì›', 'ì €ë… ë™ì¼ê°€ 2-5ë§Œì›'] - (1265, "Data truncated for column 'User_Rating' at row 1")
Error for row 20238: ['ë² ë¼ í•œë‚¨ì ', 4.6, 'ì´íƒˆë¦¬ì•„ìŒì‹', 'í•œë‚¨', 'ì ì‹¬ ì €ë… ë™ì¼ê°€ 2 - 5ë§Œì›', 'ë‚˜í´ë¦¬ í”¼ìí˜‘íšŒì—ì„œ ì¸ì¦ë°›ì€ ì§„ì§œ(vera) ë‚˜í´ë¦¬í”¼ìë¥¼ ì„ ë³´ì´ëŠ” ì´íƒˆë¦¬ì•„ ë ˆìŠ¤í† ë‘ ', 61, 'ì„œìš¸íŠ¹ë³„ì‹œ ìš©ì‚°êµ¬ í•œê°•ëŒ€ë¡œ40ê¸¸ 31 ìš©ìˆ˜ì • 1ì¸µ', '', '', '', '', '', 215, 'ì–‘ì‹', '35000', '35000', 20000.0, 50000.0, 20000.0, 50000.0, 'ìš©ì‚°êµ¬', 'ì ì‹¬ ì €ë… ë™ì¼ê°€ 2 - 5ë§Œì›', 'ì €ë… ë™ì¼ê°€ 2-5ë§Œì›'] - (1265, "Data truncated for column 'User_Rating' at row 1")
Error for row 20239: ['ë² ë¼ í•œë‚¨ì ', 4.6, 'ì´íƒˆë¦¬ì•„ìŒì‹', 'í•œë‚¨', 'ì ì‹¬ ì €ë… ë™ì¼ê°€ 2 - 5ë§Œì›', 'ë‚˜í´ë¦¬ í”¼ìí˜‘íšŒì—ì„œ ì¸ì¦ë°›ì€ ì§„ì§œ(vera) ë‚˜í´ë¦¬í”¼ìë¥¼ ì„ ë³´ì´ëŠ” ì´íƒˆë¦¬ì•„ ë ˆìŠ¤í† ë‘ ', 61, 'ì„œìš¸íŠ¹ë³„ì‹œ ìš©ì‚°êµ¬ í•œê°•ëŒ€ë¡œ40ê¸¸ 31 ìš©ìˆ˜ì • 1ì¸µ', '', '', '', '', '', 215, 'ì–‘ì‹', '35000', '35000', 20000.0, 50000.0, 20000.0, 50000.0, 'ìš©ì‚°êµ¬', 'ì ì‹¬ ì €ë… ë™ì¼ê°€ 2 - 5ë§Œì›', 'ì €ë… ë™ì¼ê°€ 2-5ë§Œì›'] - (1265, "Data truncated for column 'User_Rating' at row 1")
Error for row 20240: ['ë² ë¼ í•œë‚¨ì ', 4.6, 'ì´íƒˆë¦¬ì•„ìŒì‹', 'í•œë‚¨', 'ì ì‹¬ ì €ë… ë™ì¼ê°€ 2 - 5ë§Œì›', 'ë‚˜í´ë¦¬ í”¼ìí˜‘íšŒì—ì„œ ì¸ì¦ë°›ì€ ì§„ì§œ(vera) ë‚˜í´ë¦¬í”¼ìë¥¼ ì„ ë³´ì´ëŠ” ì´íƒˆë¦¬ì•„ ë ˆìŠ¤í† ë‘ ', 61, 'ì„œìš¸íŠ¹ë³„ì‹œ ìš©ì‚°êµ¬ í•œê°•ëŒ€ë¡œ40ê¸¸ 31 ìš©ìˆ˜ì • 1ì¸µ', '', '', '', '', '', 215, 'ì–‘ì‹', '35000', '35000', 20000.0, 50000.0, 20000.0, 50000.0, 'ìš©ì‚°êµ¬', 'ì ì‹¬ ì €ë… ë™ì¼ê°€ 2 - 5ë§Œì›', 'ì €ë… ë™ì¼ê°€ 2-5ë§Œì›'] - (1265, "Data truncated for column 'User_Rating' at row 1")
Error for row 20241: ['ë² ë¼ í•œë‚¨ì ', 4.6, 'ì´íƒˆë¦¬ì•„ìŒì‹', 'í•œë‚¨', 'ì ì‹¬ ì €ë… ë™ì¼ê°€ 2 - 5ë§Œì›', 'ë‚˜í´ë¦¬ í”¼ìí˜‘íšŒì—ì„œ ì¸ì¦ë°›ì€ ì§„ì§œ(vera) ë‚˜í´ë¦¬í”¼ìë¥¼ ì„ ë³´ì´ëŠ” ì´íƒˆë¦¬ì•„ ë ˆìŠ¤í† ë‘ ', 61, 'ì„œìš¸íŠ¹ë³„ì‹œ ìš©ì‚°êµ¬ í•œê°•ëŒ€ë¡œ40ê¸¸ 31 ìš©ìˆ˜ì • 1ì¸µ', '', '', '', '', '', 215, 'ì–‘ì‹', '35000', '35000', 20000.0, 50000.0, 20000.0, 50000.0, 'ìš©ì‚°êµ¬', 'ì ì‹¬ ì €ë… ë™ì¼ê°€ 2 - 5ë§Œì›', 'ì €ë… ë™ì¼ê°€ 2-5ë§Œì›'] - (1265, "Data truncated for column 'User_Rating' at row 1")
Error for row 20242: ['ë² ë¼ í•œë‚¨ì ', 4.6, 'ì´íƒˆë¦¬ì•„ìŒì‹', 'í•œë‚¨', 'ì ì‹¬ ì €ë… ë™ì¼ê°€ 2 - 5ë§Œì›', 'ë‚˜í´ë¦¬ í”¼ìí˜‘íšŒì—ì„œ ì¸ì¦ë°›ì€ ì§„ì§œ(vera) ë‚˜í´ë¦¬í”¼ìë¥¼ ì„ ë³´ì´ëŠ” ì´íƒˆë¦¬ì•„ ë ˆìŠ¤í† ë‘ ', 61, 'ì„œìš¸íŠ¹ë³„ì‹œ ìš©ì‚°êµ¬ í•œê°•ëŒ€ë¡œ40ê¸¸ 31 ìš©ìˆ˜ì • 1ì¸µ', '', '', '', '', '', 215, 'ì–‘ì‹', '35000', '35000', 20000.0, 50000.0, 20000.0, 50000.0, 'ìš©ì‚°êµ¬', 'ì ì‹¬ ì €ë… ë™ì¼ê°€ 2 - 5ë§Œì›', 'ì €ë… ë™ì¼ê°€ 2-5ë§Œì›'] - (1265, "Data truncated for column 'User_Rating' at row 1")
Error for row 20243: ['ë² ë¼ í•œë‚¨ì ', 4.6, 'ì´íƒˆë¦¬ì•„ìŒì‹', 'í•œë‚¨', 'ì ì‹¬ ì €ë… ë™ì¼ê°€ 2 - 5ë§Œì›', 'ë‚˜í´ë¦¬ í”¼ìí˜‘íšŒì—ì„œ ì¸ì¦ë°›ì€ ì§„ì§œ(vera) ë‚˜í´ë¦¬í”¼ìë¥¼ ì„ ë³´ì´ëŠ” ì´íƒˆë¦¬ì•„ ë ˆìŠ¤í† ë‘ ', 61, 'ì„œìš¸íŠ¹ë³„ì‹œ ìš©ì‚°êµ¬ í•œê°•ëŒ€ë¡œ40ê¸¸ 31 ìš©ìˆ˜ì • 1ì¸µ', '', '', '', '', '', 215, 'ì–‘ì‹', '35000', '35000', 20000.0, 50000.0, 20000.0, 50000.0, 'ìš©ì‚°êµ¬', 'ì ì‹¬ ì €ë… ë™ì¼ê°€ 2 - 5ë§Œì›', 'ì €ë… ë™ì¼ê°€ 2-5ë§Œì›'] - (1265, "Data truncated for column 'User_Rating' at row 1")
Error for row 20244: ['ë² ë¼ í•œë‚¨ì ', 4.6, 'ì´íƒˆë¦¬ì•„ìŒì‹', 'í•œë‚¨', 'ì ì‹¬ ì €ë… ë™ì¼ê°€ 2 - 5ë§Œì›', 'ë‚˜í´ë¦¬ í”¼ìí˜‘íšŒì—ì„œ ì¸ì¦ë°›ì€ ì§„ì§œ(vera) ë‚˜í´ë¦¬í”¼ìë¥¼ ì„ ë³´ì´ëŠ” ì´íƒˆë¦¬ì•„ ë ˆìŠ¤í† ë‘ ', 61, 'ì„œìš¸íŠ¹ë³„ì‹œ ìš©ì‚°êµ¬ í•œê°•ëŒ€ë¡œ40ê¸¸ 31 ìš©ìˆ˜ì • 1ì¸µ', '', '', '', '', '', 215, 'ì–‘ì‹', '35000', '35000', 20000.0, 50000.0, 20000.0, 50000.0, 'ìš©ì‚°êµ¬', 'ì ì‹¬ ì €ë… ë™ì¼ê°€ 2 - 5ë§Œì›', 'ì €ë… ë™ì¼ê°€ 2-5ë§Œì›'] - (1265, "Data truncated for column 'User_Rating' at row 1")
Error for row 20245: ['ë² ë¼ í•œë‚¨ì ', 4.6, 'ì´íƒˆë¦¬ì•„ìŒì‹', 'í•œë‚¨', 'ì ì‹¬ ì €ë… ë™ì¼ê°€ 2 - 5ë§Œì›', 'ë‚˜í´ë¦¬ í”¼ìí˜‘íšŒì—ì„œ ì¸ì¦ë°›ì€ ì§„ì§œ(vera) ë‚˜í´ë¦¬í”¼ìë¥¼ ì„ ë³´ì´ëŠ” ì´íƒˆë¦¬ì•„ ë ˆìŠ¤í† ë‘ ', 61, 'ì„œìš¸íŠ¹ë³„ì‹œ ìš©ì‚°êµ¬ í•œê°•ëŒ€ë¡œ40ê¸¸ 31 ìš©ìˆ˜ì • 1ì¸µ', '', '', '', '', '', 215, 'ì–‘ì‹', '35000', '35000', 20000.0, 50000.0, 20000.0, 50000.0, 'ìš©ì‚°êµ¬', 'ì ì‹¬ ì €ë… ë™ì¼ê°€ 2 - 5ë§Œì›', 'ì €ë… ë™ì¼ê°€ 2-5ë§Œì›'] - (1265, "Data truncated for column 'User_Rating' at row 1")
Error for row 20246: ['ë² ë¼ í•œë‚¨ì ', 4.6, 'ì´íƒˆë¦¬ì•„ìŒì‹', 'í•œë‚¨', 'ì ì‹¬ ì €ë… ë™ì¼ê°€ 2 - 5ë§Œì›', 'ë‚˜í´ë¦¬ í”¼ìí˜‘íšŒì—ì„œ ì¸ì¦ë°›ì€ ì§„ì§œ(vera) ë‚˜í´ë¦¬í”¼ìë¥¼ ì„ ë³´ì´ëŠ” ì´íƒˆë¦¬ì•„ ë ˆìŠ¤í† ë‘ ', 61, 'ì„œìš¸íŠ¹ë³„ì‹œ ìš©ì‚°êµ¬ í•œê°•ëŒ€ë¡œ40ê¸¸ 31 ìš©ìˆ˜ì • 1ì¸µ', '', '', '', '', '', 215, 'ì–‘ì‹', '35000', '35000', 20000.0, 50000.0, 20000.0, 50000.0, 'ìš©ì‚°êµ¬', 'ì ì‹¬ ì €ë… ë™ì¼ê°€ 2 - 5ë§Œì›', 'ì €ë… ë™ì¼ê°€ 2-5ë§Œì›'] - (1265, "Data truncated for column 'User_Rating' at row 1")

In [9]:
# ë°ì´í„° ì¡°íšŒ ë° DataFreme ë³€í™˜
select_query = "SELECT * FROM web"
cursor.execute(select_query)
results = cursor.fetchall()

# ì»¬ëŸ¼ ì´ë¦… ê°€ì ¸ì˜¤ê¸°
column_names = [desc[0] for desc in cursor.description]

# DataFrameìœ¼ë¡œ ë³€í™˜
df_results = pd.DataFrame(results, columns=column_names)

# DataFrame ì¶œë ¥
# print(df_results)
df_results.head()

,id,ShopName,ShopRating,Category_catchtable,Location_catchtable,LunchDinner,Description,Reviews,Address,Nickname,...,Category_catchtable_1,avg_ì ì‹¬,avg_ì €ë…,min_ì ì‹¬,max_ì ì‹¬,min_ì €ë…,max_ì €ë…,Location,Lunch,Dinner
0,1,ì›ìŠ¤,4.9,ë‹¤ì´ë‹ë°”,í•©ì •,ì ì‹¬ 4.5ë§Œì› Â· ì €ë… 6.8ë§Œì›,í•©ì •ì—­ ì¸ê·¼ ê¸°ë…ì¼ ë ˆí„°ë§ê³¼ ì½”ìŠ¤ íŒŒì¸ë‹¤ì´ë‹ ì „ë¬¸ ê°€ì‹¬ë¹„ ìµœê³ ë ˆìŠ¤í† ë‘,3220,ì„œìš¸íŠ¹ë³„ì‹œ ë§ˆí¬êµ¬ ì–‘í™”ë¡œ7ê¸¸ 61-6 ì–´ì ë‹¤ë¹Œë”© 1ì¸µ,ìš°ìˆ˜í•œ ê°œì²™ê°€_95605,...,ë‹¤ì´ë‹ë°”,45000,68000,45000,45000,68000,68000,ë§ˆí¬êµ¬,ì ì‹¬ 4.5ë§Œì›,ì €ë… 6.8ë§Œì›
1,2,ì›ìŠ¤,4.9,ë‹¤ì´ë‹ë°”,í•©ì •,ì ì‹¬ 4.5ë§Œì› Â· ì €ë… 6.8ë§Œì›,í•©ì •ì—­ ì¸ê·¼ ê¸°ë…ì¼ ë ˆí„°ë§ê³¼ ì½”ìŠ¤ íŒŒì¸ë‹¤ì´ë‹ ì „ë¬¸ ê°€ì‹¬ë¹„ ìµœê³ ë ˆìŠ¤í† ë‘,3220,ì„œìš¸íŠ¹ë³„ì‹œ ë§ˆí¬êµ¬ ì–‘í™”ë¡œ7ê¸¸ 61-6 ì–´ì ë‹¤ë¹Œë”© 1ì¸µ,ì¡´ì§€ì¨©,...,ë‹¤ì´ë‹ë°”,45000,68000,45000,45000,68000,68000,ë§ˆí¬êµ¬,ì ì‹¬ 4.5ë§Œì›,ì €ë… 6.8ë§Œì›
2,3,ì›ìŠ¤,4.9,ë‹¤ì´ë‹ë°”,í•©ì •,ì ì‹¬ 4.5ë§Œì› Â· ì €ë… 6.8ë§Œì›,í•©ì •ì—­ ì¸ê·¼ ê¸°ë…ì¼ ë ˆí„°ë§ê³¼ ì½”ìŠ¤ íŒŒì¸ë‹¤ì´ë‹ ì „ë¬¸ ê°€ì‹¬ë¹„ ìµœê³ ë ˆìŠ¤í† ë‘,3220,ì„œìš¸íŠ¹ë³„ì‹œ ë§ˆí¬êµ¬ ì–‘í™”ë¡œ7ê¸¸ 61-6 ì–´ì ë‹¤ë¹Œë”© 1ì¸µ,ì¤€ëŠ,...,ë‹¤ì´ë‹ë°”,45000,68000,45000,45000,68000,68000,ë§ˆí¬êµ¬,ì ì‹¬ 4.5ë§Œì›,ì €ë… 6.8ë§Œì›
3,4,ì›ìŠ¤,4.9,ë‹¤ì´ë‹ë°”,í•©ì •,ì ì‹¬ 4.5ë§Œì› Â· ì €ë… 6.8ë§Œì›,í•©ì •ì—­ ì¸ê·¼ ê¸°ë…ì¼ ë ˆí„°ë§ê³¼ ì½”ìŠ¤ íŒŒì¸ë‹¤ì´ë‹ ì „ë¬¸ ê°€ì‹¬ë¹„ ìµœê³ ë ˆìŠ¤í† ë‘,3220,ì„œìš¸íŠ¹ë³„ì‹œ ë§ˆí¬êµ¬ ì–‘í™”ë¡œ7ê¸¸ 61-6 ì–´ì ë‹¤ë¹Œë”© 1ì¸µ,ë‚˜ëŠ”ì•¼ì´ê¹Œê¹Œ,...,ë‹¤ì´ë‹ë°”,45000,68000,45000,45000,68000,68000,ë§ˆí¬êµ¬,ì ì‹¬ 4.5ë§Œì›,ì €ë… 6.8ë§Œì›
4,5,ì›ìŠ¤,4.9,ë‹¤ì´ë‹ë°”,í•©ì •,ì ì‹¬ 4.5ë§Œì› Â· ì €ë… 6.8ë§Œì›,í•©ì •ì—­ ì¸ê·¼ ê¸°ë…ì¼ ë ˆí„°ë§ê³¼ ì½”ìŠ¤ íŒŒì¸ë‹¤ì´ë‹ ì „ë¬¸ ê°€ì‹¬ë¹„ ìµœê³ ë ˆìŠ¤í† ë‘,3220,ì„œìš¸íŠ¹ë³„ì‹œ ë§ˆí¬êµ¬ ì–‘í™”ë¡œ7ê¸¸ 61-6 ì–´ì ë‹¤ë¹Œë”© 1ì¸µ,Youngminlee,...,ë‹¤ì´ë‹ë°”,45000,68000,45000,45000,68000,68000,ë§ˆí¬êµ¬,ì ì‹¬ 4.5ë§Œì›,ì €ë… 6.8ë§Œì›

In [52]:
df_results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41286 entries, 0 to 41285
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     41286 non-null  int64
 1   ShopName               41286 non-null  object
 2   ShopRating             41286 non-null  float64
 3   Category_catchtable    41286 non-null  object
 4   Location_catchtable    41286 non-null  object
 5   LunchDinner            41286 non-null  object
 6   Description            41286 non-null  object
 7   Reviews                41286 non-null  int64
 8   Address                41286 non-null  object
 9   Nickname               41286 non-null  object
 10  User_Rating            41286 non-null  float64
 11  MealTime               41286 non-null  object
 12  Date                   41286 non-null  object
 13  User_Review            41286 non-null  object
 14  Save                   41286 non-null  int64
 15  Category_catchtable_1  41286 non-null  object
 16  avg_ì ì‹¬                 41286 non-null  object
 17  avg_ì €ë…                 41286 non-null  object
 18  min_ì ì‹¬                 41286 non-null  int64
 19  max_ì ì‹¬                 41286 non-null  int64
 20  min_ì €ë…                 41286 non-null  int64
 21  max_ì €ë…                 41286 non-null  int64
 22  Location               41286 non-null  object
 23  Lunch                  41286 non-null  object
 24  Dinner                 41286 non-null  object
dtypes: float64(2), int64(7), object(16)
memory usage: 7.9+ MB

In [ ]:
ALTER TABLE web MODIFY LunchDinner VARCHAR(50);